/** @format */ /** @format */
.contacto {
  color: rgba(0, 0, 0, 0.822);
  background-color: rgba(0, 0, 0, 0.281);
  margin: 0px;
  padding: 30px;
  width: 100%;
  justify-content: space-between;
  align-content: space-between;
  border: solid 5px rgba(0, 0, 0, 0.788);
}

/** @format */
.pie-pagina {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.781);
}
.pie-pagina .box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.pie-pagina .box .seguinos {
  color: rgba(255, 255, 255, 0.37);
  margin: bottom 25px;
  font-size: 20px;
  margin: 20px;
}
.pie-pagina .box .redes-sociales a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: rgba(5, 112, 112, 0.774);
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.349);
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .logo-ana {
  display: inline-block;
  justify-content: center;
  align-content: center;
}
.pie-pagina .logo-ana .creado {
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.37);
  text-align: left;
}
.pie-pagina .logo-ana .imagen {
  width: 50px;
  height: 50px;
  margin: 10px;
}

/** @format */
.imagen {
  background-image: url(../imagenes/cocteles.clarito.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/** @format */
.tutorial {
  background-color: rgba(0, 0, 0, 0.781);
  margin-bottom: 10px;
  padding: 30px;
  color: white;
  text-align: center;
}

/** @format */
.somos {
  background-image: url(../imagenes/cocteles.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 2px black;
}

.somos p {
  color: rgb(0, 0, 12);
  background-color: rgba(240, 255, 255, 0.5);
  margin: 0px;
  padding: 60px;
  text-align: center;
}

/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/** @format */
.titulos1y2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.781);
  text-align: center;
  padding: 10px;
  text-decoration: double;
}

/** @format */ /** @format */
.row {
  background-color: grey;
  transition: all 1s;
}
.row .card {
  padding: 10px;
  margin: 10px;
  -webkit-animation: rotate-in-2-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: rotate-in-2-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

/** @format */
@media screen and (max-width: 768px) {
  .row {
    background-color: #5f9ea0;
    text-decoration: double;
  }
  .contacto {
    background-color: #5f9ea0;
  }
  .titulos1y2 {
    color: #5f9ea0;
    width: 100%;
    height: 100%;
  }
  .imagen {
    background-image: url(../imagenes/portada\ opcional.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .somos {
    width: 100%;
    height: 100%;
  }
  .somos p {
    width: 100%;
    height: 100%;
    background-color: #5f9ea0;
  }
  .videotutorial {
    width: 100%;
    height: 100%;
  }
  .cambiocolor {
    background-color: #5f9ea0;
  }
  .accordion {
    height: 100%;
    padding: 10px;
    border: solid 10px rgba(19, 0, 0, 0.788);
  }
  .pie-pagina .box {
    width: 100%;
    padding: 35px;
    display: flex;
    display: inline;
  }
  .pie-pagina .logo-ana {
    width: 100%;
    margin: 10px;
    padding: 35px;
    display: flex;
    display: inline;
  }
  .pie-pagina .seguinos {
    color: black;
  }
}
@media screen and (max-width: 450px) {
  .row {
    background-color: #5f9ea0;
    text-decoration: double;
  }
  .contacto {
    background-color: #5f9ea0;
  }
  .titulos1y2 {
    color: #5f9ea0;
    width: 100%;
    height: 100%;
  }
  .imagen {
    background-image: url(../imagenes/portada\ opcional.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .somos {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
  }
  .somos p {
    width: 100%;
    height: 100%;
    background-color: #5f9ea0;
  }
  .videotutorial {
    width: 100%;
    height: 100%;
  }
  .cambiocolor {
    background-color: #8bf4f8;
  }
  .accordion {
    height: 100%;
    padding: 10px;
    border: solid 10px rgba(19, 0, 0, 0.788);
  }
  .pie-pagina .box {
    width: 100%;
    padding: 35px;
    display: inline;
  }
  .pie-pagina .imagen {
    margin: 10px;
  }
  .pie-pagina .seguinos {
    color: black;
  }
}
/** @format */
.accordion {
  padding: 100px;
  border: solid rgb(0, 0, 0);
  width: 100%;
}

/** @format */
.logo {
  width: 100px;
  height: 100px;
}

/** @format */
.accordion {
  padding: 100px;
  border: solid 5px rgba(0, 0, 0, 0.788);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
}
.accordion .accordion-item {
  background-color: rgba(0, 0, 0, 0.144);
}

/* mq */

/*# sourceMappingURL=style.css.map */
