/** @format */

.contacto {
	color: rgba(0, 0, 0, 0.822);
	background-color: rgba(0, 0, 0, 0.281);
	margin: 0px;
	padding: 30px;
	width: 100%;
	justify-content: space-between;
	align-content: space-between;
	border: solid 5px rgba(0, 0, 0, 0.788);
}
