/** @format */
.accordion {
	padding: 100px;
	border: solid 5px rgba(0, 0, 0, 0.788);
	width: 100%;
	background-color: rgba(0, 0, 0, 0.404);
	.accordion-item {
		background-color: rgba(0, 0, 0, 0.144);
	}
}
/* mq */
