/** @format */

.somos {
	background-image: url(../imagenes/cocteles.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: solid 2px black;
}
.somos p {
	color: rgb(0, 0, 12);
	background-color: rgba(240, 255, 255, 0.5);
	margin: 0px;
	padding: 60px;
	text-align: center;
}
