/** @format */
.row {
	background-color: grey;
	transition: all 1s;
}
.card {
	padding: 30px;
	margin: 30px;
	-webkit-animation: rotate-in-2-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: rotate-in-2-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes rotate-in-2-cw {
	0% {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}
